:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

textarea {
  min-width: 600px;
  min-height: 100px;
}
#Wrapper.mapQuestionGlobalWrapper #HeaderContainer #Header {
  padding:0;
}

#Wrapper.mapQuestionGlobalWrapper{
  display: flex;
  align-content: stretch;
}

.mapQuestionGlobalWrapper .SkinInner{
  flex:1;
  display:flex;
  flex-direction:column;
  padding-top:0;
}

#SkinContent{
  flex:1;
  margin:20px !important;
  position:relative;
  display:flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  flex: 1;
  width: 100%;
}

#Questions{
  flex:1;  
}

.mapQuestion{
  max-width: unset !important;
  height:100%;
}

.mapQuestion .Inner,
.mapQuestion .InnerInner,
.mapQuestion .InnerInner > fieldset{
  height:100% !important;
} 

.mapQuestion .QuestionBody.q-matrix{
  flex:1;
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  height: 100%
}


.mapTableContainer input{
  width:90% !important;
  margin-left:5%;
  margin-right: 5%;
}

.mapTableContainer th{
  padding:2px !important;
}

.polygon-label {
  display: table-cell;
  color: #000;
  background-color: #fffc;
  font-size: 16px;
  vertical-align: middle;
  padding: 5px;
  text-align: center;
}