:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

textarea {
  min-width: 600px;
  min-height: 100px;
}

legend{
  margin-bottom:2px;
}

#Wrapper.mapQuestionGlobalWrapper #HeaderContainer #Header {
  padding:0;
}

#Wrapper.mapQuestionGlobalWrapper{
  display: flex;
  align-content: stretch;
  max-height: 100% !important;
}

.mapQuestionGlobalWrapper .SkinInner{
  flex:1;
  display:flex;
  flex-direction:column;
  padding-top:0;
  max-height: 100% !important;
}

.mapQuestionGlobalWrapper #SkinContent{
  flex:1;
  padding:20px 0 !important;
  position:relative;
  display:flex;
  flex-direction: column;
  left: 0;
  top: 0;
  flex: 1;
  width: 100%;
  max-height:100% !important;
}

.mapQuestionGlobalWrapper #Questions{
  flex:1;
  max-height: 100% !important;  
}

.mapQuestion{
  padding-bottom: unset !important;
  max-width: unset !important;
  height:100%;
}

.mapQuestion .Inner,
.mapQuestion .InnerInner,
.mapQuestion .InnerInner > fieldset{
  height:100% !important;
} 

.mapQuestion .QuestionBody.q-matrix{
  flex:1;
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  height: 100%;
  min-height:300px;
  padding-bottom:0px !important;
}

.drawing-row{
  border-color: rgb(51, 136, 255) !important;
  background-color: rgba(51, 136, 255, 0.2) !important;
}
.mapTableContainer{
  margin-right:10px;
  padding-right:10px;
  padding-bottom:50px;
  overflow-y: auto !important;
}

.mapTableContainer input{
  width:100% !important;
}

.mapTableContainer tr{
  display: flex;
  flex-direction: column ;
  margin-bottom:15px;
}

.mapTableContainer th{
  padding-bottom:2px !important;
  padding-left:10px;
}

.mapTableContainer td{
  padding-left:10px;
}

.mapTableContainer th span{
  padding:0px !important;
}

.mapTableContainer .table{
  margin-bottom: unset !important;
  padding-left: unset !important;
}

.mapTableContainer input:disabled {
  opacity: 0.2 !important
}


.polygon-label {
  display: table-cell;
  color: #000;
  background-color: #fffc;
  font-size: 16px;
  vertical-align: middle;
  padding: 5px;
  text-align: center;
}

#Plug > a{
  display:none !important;
}

.mapQuestionGlobalWrapper #Buttons{
  padding-top:5px !important;
}

@media only screen and (max-width: 767px) {
  #Wrapper.mapQuestionGlobalWrapper {
      height:100vh!important
  }

  .mapQuestionGlobalWrapper .SkinInner,
  .mapQuestionGlobalWrapper #SkinContent{
    padding-top:unset !important;
  }

  .mapQuestion .Inner,.mapQuestion .InnerInner,.mapQuestion .InnerInner>fieldset {
      display:flex;
      flex-direction:column;   
  }
  
  .mapQuestion .QuestionBody.q-matrix {
      flex-direction: column;
      width:100%;
      display:flex;
      overflow-x: hidden;
  }

  #map {
      flex:3;
  }

  #mapTableContainer {
      flex:1
  }
}